.container {
  width: 100%;
}

.formContainer {
  :global {
    .ant-pro-form-grid-row {
      row-gap: 8px;
    }
  }
}

.submitter {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.importModal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;

  &Block {
    padding: 16px;
    background-color: #f8f9fa;

    &Text {
      display: flex;
      align-items: center;
      color: #333;
      font-size: 14px;
    }

    &ToolTip {
      margin-left: 8px;
      color: #888;
      font-size: 12px;
    }

    &Component {
      margin-top: 16px;
    }
  }
}
